<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.api.api.dao.CaseParamValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lemon.api.api.pojo.CaseParamValue">
        <id column="id" property="id" />
        <result column="case_id" property="caseId" />
        <result column="api_request_param_id" property="apiRequestParamId" />
        <result column="api_request_param_value" property="apiRequestParamValue" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, case_id, api_request_param_id, api_request_param_value, create_user, create_time
    </sql>
    <update id="updateCaseParam" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
          update case_param_value set api_request_param_value = #{item.apiRequestParamValue}
          where case_id=#{item.caseId} and api_request_param_id=#{item.apiRequestParamId}
        </foreach>
    </update>
    <delete id="removeByApiRequestParamId" parameterType="java.util.List">
        delete from case_param_value where api_request_param_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="findCaseIdByApiId" parameterType="string" resultType="Integer">
        SELECT
             DISTINCT case_param_value.case_id
        FROM
            api_request_param
        INNER JOIN case_param_value
        ON api_request_param.id = case_param_value.api_request_param_id
        where api_request_param.api_id=#{apiId};
    </select>
</mapper>
